.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.wrapper-row {
    display: flex;
    gap: 10px;
}

.wrapper-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px;
}

.cube-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
}

.cube {
    width: 30px;
    height: 30px;
    background-color: #ffffff33;
    cursor: pointer;
    text-align: center;

    &-selected {
        background-color: #ffffff;
        color: #00000088;
    }

    &.cube-new {
        background-color: #FE7430;
        cursor: default;
    }
}

button {
    width: 100px;
}