:root {
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  background-color: #242424;
}

body #root {
    width: 100%;
}

h1 {
  font-size: 1.5em;
  line-height: 1.1;
}

a {
    color: #ffffff;
}
